body {
 margin: 0;
 padding: 0;
 background-color: #e9f7e6;
 
}
img {
 display: inline-block;
}
h1 {
 margin-top: 50px;
 text-align: center;
 font-family: cursive;
 font-size:50px;
 letter-spacing: 10px;
}
.header {
 background-image: url("../snow.jpg");
 margin:0 15px; 
}
.img {
 width: 304px;
 height: 236px;
}

#footer {
 height: 100px;
 color: #000;
}

.images img{
 width:100%;
 height:100%;
}

.header .logo{
 padding:10px;
 width: 100%;
 max-width:100px;
}


@media (max-width: 768px)  {
  .header .logo {
    display: block;
    margin: auto;
  }
 .header h1 {
    font-size: 25px;
  }
}

/**Comment**/

